{
  "id": "${NODE_NAME}",
  "name": "${NODE_NAME}",
  "profile": "${NODE_ROLE}",
  "selector": {
    "mac": "${NODE_MAC}"
  },
  "metadata": {
    "node_name": "${NODE_NAME}",
    "node_ip": "${NODE_IP}",
    "node_role": "${NODE_ROLE}"
  }
}
